.nav0{
    display: flex;
    padding: 20px;
    justify-content:space-between;
}
.nav1{
    color: #000;
font-family: Pacifico;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.spa1{
    background: linear-gradient(180deg, #FF9C1A 0%, #ED250A 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.nav2{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: rgba(235, 242, 250, 1);
    background-image: url("../asserts/1.svg");
    background-repeat: no-repeat;
    background-position: center;
}